.privacy h3 {
  margin-top: 30px;
}
.privacy {
  padding-bottom: 100px;
  text-align: justify;
}
.privacy ul.list-letters {
  list-style-type: lower-latin;
  margin: 20px 0;
}
.privacy ul.list-letters li {
  margin-bottom: 1em;
}
.content-category-table td{
  padding: 10px;
}

.content-category-table tr:first-child td{
  text-align: center;
}